---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { PAGE_SIZE } from "../config/pagination";

export async function  getStaticPaths() {
    const posts = await getCollection('til')
    const totalPages = Math.ceil(posts.length/PAGE_SIZE)

    return Array.from({ length: totalPages }, (_, i) => ({
        params: { page: String(i+1) }
    }))
}

const page = Number(Astro.params.page)
const posts = await getCollection('til')

posts.sort((a,b) => b.data.date.getTime() - a.data.date.getTime())

const totalPages = Math.ceil(posts.length / PAGE_SIZE)
const start = (page - 1) * PAGE_SIZE
const end = start + PAGE_SIZE
const pagePosts = posts.slice(start, end)

const hasPrev = page > 1
const hasNext = page < totalPages
---

<BaseLayout>
    <section>
        <!-- Content -->
        <h2 class="font-semibold mb-6">My Latest Writing</h2>

        <ul class="space-y-6">
            {pagePosts.map((post) => (
                <li class="bg-white border rounded-xl p-6">
                    <a href={`/til/${post.slug}`} class="hover:no-underline">
                        <h3 class="text-lg font-semibold">{post.data.title}</h3>
                    </a>

                    <div class="text-sm text-gray-500 mt-2">
                        {post.data.tags?.[0] && (
                            <span class="px-2 py-0 5 bg-gray-100 rounded mr-2">
                                {post.data.tags[0]}
                            </span>
                        )}
                        • {post.data.date.toDateString()}
                    </div>
                </li>
            ))}
        </ul>
        <!-- Content -->

        <!-- Pagination -->
        <nav class="flex justify-between items-center mt-12 text-sm">
            {hasPrev ? (
                <a href={page === 2 ? "/" : `/page/${page - 1}`} class="text-gray-600 hover:text-gray-900">
                    ← Newer
                </a>
            ) : (
                <span class="opacity-40">← Newer</span>
            )}

            <span>Page {page} of {totalPages}</span>

            {hasNext ? (
                <a
                href={`/page/${page + 1}`}
                class="text-gray-600 hover:text-gray-900"
                >
                Older →
                </a>
            ) : (
                <span class="opacity-40">Older →</span>
            )}
        </nav>
        <!-- Pagination -->
    </section>
</BaseLayout>